.face {
    width: 200px;
    height: 200px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    height: 300px;
}